body {
  background-color: #f7a156;
  font-family: 'Poppins', sans-serif;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0;
}

.coxinha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(183,65,14, .5);
  padding-left: 3rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px #000;
}

.coxinha img {
  height: 10rem;
  margin-left: 1rem;
  border-radius: 0 10px 10px 0;
}

.container-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 550px) {
  .info-coxinha h2 {
    font-size: 1.4rem;
  }

  .info-coxinha p {
    font-size: .8rem;
  }
}